<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>branch2</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../public_html/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />-->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/newsletter.css" rel="stylesheet" />
</head>
<body>
<script src="../../public_html/js/jquery.min.js"></script>
<script src="../../public_html/js/bootstrap.bundle.min.js"></script>
<script src="../../public_html/js/scrollspy.min.js"></script>
<script src="../../public_html/js/jquery.easing.min.js"></script>
<script src=".js/script.js"></script>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand active" aria-current="page" href="../../public_html/index.html">
            <img src="../../public_html/assets/prjlogo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">HOME</a></li>-->
                <li class="nav-item"><a class="nav-link" href="public_html/history.html">INTERNET HISTORY</a></li>
                <li class="nav-item"><a class="nav-link" href="browserwars1.html">BROWSER WARS</a></li>
                <li class="nav-item"><a class="nav-link" href="ecommerce.html">E-COMMERCE</a></li>
                <li class="nav-item"><a class="nav-link" href="socialnetworking.html">SOCIAL-NETWORKING</a></li>
                <li class="nav-item"><a class="nav-link" href="searchengine.html">SEARCH-ENGINE</a></li>
                <li class="nav-item"><a class="nav-link" href="internet_element1.html">INTERNET ELEMENTS</a></li>
                <li class="nav-item"><a class="nav-link" href="branch1.html">PYLINT PYTHON</a></li>
                <li class="nav-item"><a class="nav-link" href="branch2.html">AAA TESTING</a></li>
                <li class="nav-item"><a class="nav-link" href="branch3.html">OOP PRINCIPALS</a></li>
                <li class="nav-item"><a class="nav-link" href="branch4.html">SOLID OOD</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Hero section-->
<div class="container bg-grey mt-2">
    <h5 class="display-6 text-center ">The Arrange-Act-Assert (AAA) pattern is known as the standard throughout the industry.</h5>
    <!--  <p class="lead"></p>-->


</div>

<!-- Page content-->

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h2 class="fw-bolder mb-1">AAA Testing Tutorial</h2>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on November 21, 2021 by Now-U-Know. Images from <a href="https://www.CreativeCommons.org/">CreativeCommons</a></div>
                    <!-- Post categories-->
                    <!--                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>-->
                    <!--                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>-->
                </header>
                <!-- Preview image figure-->

                <!-- Post content-->
                <section class="mb-5">


                    <!--Page 2-->
                    <div class="row  ">

                        <div class="col-lg-6"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch2/4.jpg" alt="..." /></div>
                        <div class="col">
                            <h5 class="font-weight-bold">What is AAA Testing?    </h5>
                            <p style="text-align:justify">Basically, it recommends separating your test method into three sections: arrange, act and assert. Each one of these are only accountable for the portion they are named after.</p>
                            <p style="text-align:justify">In the arrange section, included is the code needed to setup that test. Objects are be created, if using mocks then they are setup and possibly expectations are set. After this come the Act, which is the call of the method being tested.    </p>
                            <!--                            <p>IPv6 is the most recent version of the Internet Protocol. This new IP address version is being deployed to fulfil the need for more Internet addresses. It was aimed to resolve issues that are associated with IPv4. With 128-bit address space, it allows 340 undecillion unique address space. DNS and IPs are designed to scale.</p>-->
                        </div>
                        <p>Then comes Assert, where this includes checking whether the expectations were encountered. Using this process makes the code well structured and simple to understand.     </p>
                    </div>
                    <hr>

                    <div class="row  ">

                        <div class="col-lg-6"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch2/1.png" alt="..." /></div>
                        <div class="col">
                            <h5 class="font-weight-bold"></h5>
                            <p style="text-align:justify">Now we will use the three steps practically. Let’s generate a class library application with the code to the left:   </p>
                            <p style="text-align:justify">This is the code that we will examine.    </p>
                            <p style="text-align:justify">The code is easy, the class comprises only one function and it will constantly be true since we are not looking to write business logic.   </p>
                        </div>
                         <p style="text-align:justify">    </p>

                    </div>
                    <hr>

                    <div class="row  ">

                        <div class="col-lg-6"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch2/2.png" alt="..." /></div>
                        <div class="col">
                            <h5 class="font-weight-bold">     </h5>
                            <p style="text-align:justify">We will now enhance one unit test application to the result. We will use the code below to do the unit testing of the code above.   </p>
                            <p style="text-align:justify">In the code above we can view the three areas of unit test.    </p>
                            <p style="text-align:justify">Initially we are producing an object of the testClass.    </p>
                            <p style="text-align:justify">After this we are using a Boolean variable that will store the returned outcome.    </p>
                            <p style="text-align:justify">In the next level we are checking whether the return value is equal to the expected value.   </p>

                            <!--                            <p>IPv6 is the most recent version of the Internet Protocol. This new IP address version is being deployed to fulfil the need for more Internet addresses. It was aimed to resolve issues that are associated with IPv4. With 128-bit address space, it allows 340 undecillion unique address space. DNS and IPs are designed to scale.</p>    -->

                        </div>

                             <!--                            <p style="text-align:justify">In the code above we can view the three areas of unit test. Initially we are producing an object of the testClass. After this we are using a Boolean variable that will store the returned outcome. in the next level we are checking whether the return value is equal to the expected value.  </p>    -->

                    </div>
                    <hr>

                    <!--                    <h5 class="fw-bolder mb-4 mt-2">DNS</h5>-->
                    <div class="row ">

                        <div class="col-lg-6"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch2/3.jpg" alt="..." /></div>
                        <div class="col">
                            <h5 class="font-weight-bold">    </h5>
                            <p style="text-align:justify">Let's run the test and check the result.  </p>
                            <!--                            <p>The internet is an architecture or design philosophy expressed in well-known rules or standards called as Internet Protocol. All devices have unique number known as IP address. IPv4 is an IP version widely used to identify devices on a network using an addressing system. It uses a 32-bit address scheme to store 2^32 addresses which is more than 4 billion addresses. </p>-->

                        </div>
                        <!--                        <p>DNS servers translate requests for names into IP addresses, controlling which server an end user will reach when they type a domain name into their web browser.</p>-->
                    </div>
                </section>
            </article>
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4 mt-4">

            <!-- Side widget-->


            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header text-center">Resources</div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-6">
                            <!--                            <ul class="list-inline-item  mb-0">-->
                            <p class="text-center"><a href="https://www.youtube.com/watch?v=gg4ncqKgq7w">Unit Testing </a></p>
                            <p class="text-center"><a href="https://www.youtube.com/watch?v=duwF921lWIg">AAA Pattern</a></p>
                        </div>
                        <div class="col-md-6">
                            <!--                            <ul class="list-inline-item  mb-0">-->
                            <p class="text-center"><a href="HTTPS://WWW.YOUTUBE.COM/WATCH?V=SCTHIEOAMI8">Structure Test With AAA</a></p>
                            <p class="text-center"><a href="HTTPS://WWW.YOUTUBE.COM/WATCH?V=DUWF921LWIG">Unit Testing AAA</a></p>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Categories widget-->


        </div>
    </div>
</div>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container ">
<!--        <p class="m-0 text-center text-white">Image Credit: <a href="https://www.CreativeCommons.org/">CreativeCommons</a></p>-->
        <p class="m-0 text-center text-white">Copyright &copy; Sabina_Hack 2021</p>
        <p class="m-0 text-center text-white">
            <a href="https://github.com/njitvjk/internethistory_project" >Project Repo</a><span></span> <a href="http://validator.w3.org/check/referer"><img src="https://www.w3.org/Icons/valid-html401-blue" alt=""></a></p>


    </div>

</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src=".js/script.js"></script>
</body>
</html>