<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>branch1</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../public_html/assets/favicon.ico" />
    <!-- Bootstrap icons-->

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" /> -->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/newsletter.css" rel="stylesheet" />
</head>
<body>
<script src="../../public_html/js/jquery.min.js"></script>
<script src="../../public_html/js/bootstrap.bundle.min.js"></script>
<script src="../../public_html/js/scrollspy.min.js"></script>
<script src="../../public_html/js/jquery.easing.min.js"></script>
<script src=".js/script.js"></script>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand active" aria-current="page" href="../../public_html/index.html">
            <img src="../../public_html/assets/prjlogo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">HOME</a></li>-->
                <li class="nav-item"><a class="nav-link" href="public_html/history.html">INTERNET HISTORY</a></li>
                <li class="nav-item"><a class="nav-link" href="browserwars1.html">BROWSER WARS</a></li>
                <li class="nav-item"><a class="nav-link" href="ecommerce.html">E-COMMERCE</a></li>
                <li class="nav-item"><a class="nav-link" href="socialnetworking.html">SOCIAL-NETWORKING</a></li>
                <li class="nav-item"><a class="nav-link" href="searchengine.html">SEARCH-ENGINE</a></li>
                <li class="nav-item"><a class="nav-link" href="internet_element1.html">INTERNET ELEMENTS</a></li>
                <li class="nav-item"><a class="nav-link" href="branch1.html">PYLINT PYTHON</a></li>
                <li class="nav-item"><a class="nav-link" href="branch2.html">AAA TESTING</a></li>
                <li class="nav-item"><a class="nav-link" href="branch3.html">OOP PRINCIPALS</a></li>
                <li class="nav-item"><a class="nav-link" href="branch4.html">SOLID OOD</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Hero section-->
<div class="container bg-grey mt-2">
    <h5 class="display-6 text-center ">Tips and tricks to new python programmers to implement pylint </h5>
    <!--  <p class="lead"></p>-->


</div>

<!-- Page content-->

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">



                    <!-- Post title-->
                    <h2 class="fw-bolder mb-1">Pylint in Python</h2>
                    <div class="text-muted fst-italic mb-2">Posted on November 20, 2021 by Now-U-Know. Images from <a href="https://www.CreativeCommons.org/">CreativeCommons</a></div>
                    <div class="text-muted mb-2">Beginner or expert to coding standards, Pylint can be your go to for assistance in disclosing any issues and aid to make you a more cognizant programmer. In this tutorial you will learn about Pylint in Python.</div>
                    <!-- Post meta content-->
                    <!--                    <div class="text-muted fst-italic mb-2">Posted on October 29, 2021 by Now-U-Know. Images from <a href="https://www.CreativeCommons.org/">CreativeCommons</a></div>-->
                    <!-- Post categories-->
                    <!--                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>-->
                    <!--                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>-->
                </header>
                <!-- Preview image figure-->

                <!-- Post content-->
                <section class="mb-5">


                    <!--Page 2-->
                    <div class="row  ">

                        <div class="col-lg-4"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch1/1.jpg" alt="..." /></div>
                        <div class="col">
                            <h3 class="font-weight-bold">Pylint – What is it? </h3>
                            <p>Pylint is a static code analysis tool used to detect mistakes in Python code and aids programmers in applying good coding style. This tool assists them in resolving complex code with little manual effort. </p>
                            <p>This is one of the tools that is used for test-driven development (TDD).</p>
                            <p>Pylint uses a coding style known as PEP8.</p>
                        </div>
                        <p>     </p>
                    </div>
                    <hr>

                    <div class="row  ">

                        <div class="col-lg-6"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch1/2.jpg" alt="..." /></div>
                        <div class="col">
                            <h4 class="font-weight-bold">Installing Pylint </h4>
                            <p>Installing Pylint on either system: Windows 10, Mac OS, Linux, use the following command:   </p>
                            <pre>john01 Desktop$ pip install pylint</pre>
                            <p>When running Pylint without any arguments, this will get the help dialogue and provide more details of the issues.</p>
                        </div>
                        <p>Do this now, i.e.:    </p>
                        <div class="highlight-console notranslate"><div class="highlight"><pre><span></span><span class="go">john01 Desktop$ pylint</span>
<span class="go">...</span>
<span class="go">a bunch of stuff</span>
<span class="go">...</span>
</pre></div>


                        </div>

                    </div>
                    <hr>


                    <!--                    <h5 class="fw-bolder mb-4 mt-2">DNS</h5>-->
                    <div class="row  ">

                        <div class="col-lg-4"><img class="img-fluid rounded mb-2 " src="../../public_html/assets/branch1/3.jpg" alt="..." /></div>
                        <div class="col">
                            <h4 class="font-weight-bold">Getting Started </h4>
                            <p>A couple of the options that we’ll focus on here are:    </p>

                        <div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">Master</span><span class="p">:</span>
  <span class="o">--</span><span class="n">generate</span><span class="o">-</span><span class="n">rcfile</span><span class="o">=&lt;</span><span class="n">file</span><span class="o">&gt;</span>
<span class="n">Commands</span><span class="p">:</span>
  <span class="o">--</span><span class="n">help</span><span class="o">-</span><span class="n">msg</span><span class="o">=&lt;</span><span class="n">msg</span><span class="o">-</span><span class="nb">id</span><span class="o">&gt;</span>
<span class="n">Commands</span><span class="p">:</span>
  <span class="o">--</span><span class="n">help</span><span class="o">-</span><span class="n">msg</span><span class="o">=&lt;</span><span class="n">msg</span><span class="o">-</span><span class="nb">id</span><span class="o">&gt;</span>
<span class="n">Message</span> <span class="n">control</span><span class="p">:</span>
  <span class="o">--</span><span class="n">disable</span><span class="o">=&lt;</span><span class="n">msg</span><span class="o">-</span><span class="n">ids</span><span class="o">&gt;</span>
<span class="n">Reports</span><span class="p">:</span>
  <span class="o">--</span><span class="n">files</span><span class="o">-</span><span class="n">output</span><span class="o">=&lt;</span><span class="n">y_or_n</span><span class="o">&gt;</span>
  <span class="o">--</span><span class="n">reports</span><span class="o">=&lt;</span><span class="n">y_or_n</span><span class="o">&gt;</span>
  <span class="o">--</span><span class="n">output</span><span class="o">-</span><span class="nb">format</span><span class="o">=&lt;</span><span class="nb">format</span><span class="o">&gt;</span>
</pre></div>
</div>


                        </div>
                        <p>    </p>
                    </div>
                    <hr>




                    <!--                    <h5 class="fw-bolder mb-4 mt-2">DNS</h5>-->
                    <div class="row  ">

                        <div class="col">
                            <h4 class="font-weight-bold">First Time Pylinting </h4>
                            <p>Here we will use a simple python script for this tutorial. I borrowed widely from the code at this location: <a class="reference external" href="http://www.daniweb.com/code/snippet748.html">http://www.daniweb.com/code/snippet748.html</a>
                            The beginning of the code  used here is called simplecaeser.py and is included below in its entirety:     </p>

<div class="highlight-python"><div class="highlight"><pre><span></span> <span class="mi">1</span>  <span class="c1">#!/usr/bin/env python</span>
 <span class="mi">2</span>
 <span class="mi">3</span>  <span class="kn">import</span> <span class="nn">string</span>
 <span class="mi">4</span>
 <span class="mi">5</span>  <span class="n">shift</span> <span class="o">=</span> <span class="mi">3</span>
 <span class="mi">6</span>  <span class="n">choice</span> <span class="o">=</span> <span class="nb">raw_input</span><span class="p">(</span><span class="s2">&quot;would you like to encode or decode?&quot;</span><span class="p">)</span>
 <span class="mi">7</span>  <span class="n">word</span> <span class="o">=</span> <span class="p">(</span><span class="nb">raw_input</span><span class="p">(</span><span class="s2">&quot;Please enter text&quot;</span><span class="p">))</span>
 <span class="mi">8</span>  <span class="n">letters</span> <span class="o">=</span> <span class="n">string</span><span class="o">.</span><span class="n">ascii_letters</span> <span class="o">+</span> <span class="n">string</span><span class="o">.</span><span class="n">punctuation</span> <span class="o">+</span> <span class="n">string</span><span class="o">.</span><span class="n">digits</span>
 <span class="mi">9</span>  <span class="n">encoded</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
<span class="mi">10</span>  <span class="k">if</span> <span class="n">choice</span> <span class="o">==</span> <span class="s2">&quot;encode&quot;</span><span class="p">:</span>
<span class="mi">11</span>      <span class="k">for</span> <span class="n">letter</span> <span class="ow">in</span> <span class="n">word</span><span class="p">:</span>
<span class="mi">12</span>          <span class="k">if</span> <span class="n">letter</span> <span class="o">==</span> <span class="s1">&#39; &#39;</span><span class="p">:</span>
<span class="mi">13</span>              <span class="n">encoded</span> <span class="o">=</span> <span class="n">encoded</span> <span class="o">+</span> <span class="s1">&#39; &#39;</span>
<span class="mi">14</span>          <span class="k">else</span><span class="p">:</span>
<span class="mi">15</span>              <span class="n">x</span> <span class="o">=</span> <span class="n">letters</span><span class="o">.</span><span class="n">index</span><span class="p">(</span><span class="n">letter</span><span class="p">)</span> <span class="o">+</span> <span class="n">shift</span>
<span class="mi">16</span>              <span class="n">encoded</span><span class="o">=</span><span class="n">encoded</span> <span class="o">+</span> <span class="n">letters</span><span class="p">[</span><span class="n">x</span><span class="p">]</span>
<span class="mi">17</span>  <span class="k">if</span> <span class="n">choice</span> <span class="o">==</span> <span class="s2">&quot;decode&quot;</span><span class="p">:</span>
<span class="mi">18</span>      <span class="k">for</span> <span class="n">letter</span> <span class="ow">in</span> <span class="n">word</span><span class="p">:</span>
<span class="mi">19</span>          <span class="k">if</span> <span class="n">letter</span> <span class="o">==</span> <span class="s1">&#39; &#39;</span><span class="p">:</span>
<span class="mi">20</span>              <span class="n">encoded</span> <span class="o">=</span> <span class="n">encoded</span> <span class="o">+</span> <span class="s1">&#39; &#39;</span>
<span class="mi">21</span>          <span class="k">else</span><span class="p">:</span>
<span class="mi">22</span>              <span class="n">x</span> <span class="o">=</span> <span class="n">letters</span><span class="o">.</span><span class="n">index</span><span class="p">(</span><span class="n">letter</span><span class="p">)</span> <span class="o">-</span> <span class="n">shift</span>
<span class="mi">23</span>              <span class="n">encoded</span> <span class="o">=</span> <span class="n">encoded</span> <span class="o">+</span> <span class="n">letters</span><span class="p">[</span><span class="n">x</span><span class="p">]</span>
<span class="mi">24</span>
<span class="mi">25</span>  <span class="k">print</span> <span class="n">encoded</span>
</pre></div>
</div>


                        </div>
                        <p>   </p>
                    </div>

                    <hr>
                    <hr>
                    <hr>


                <section id="glossary">
                    <h3><span id="OOP (Object-Oriented Programming) Glossary:">OOP (Object-Oriented Programming) Glossary:</span></h3>
                    <p>Factory - in OOP a factory is an object for creating other objects. This is a function or approach that returns objects of a fluctuating class from some method call. </p>
                    <p>Instantiation - a class of object may be distinct. All objects of this class have a group of associated variables, ways to access those variables, and functions. </p>
                    <p>Object – this is an abstract data type formed typically by a developer. It can comprise numerous properties and methods and may even contain other objects. In several programming languages, objects are known as classes. Objects offer an organized method to programming. </p>
                    <p>Class - a constructor is called to produce an object. It makes the new object for use, frequently tolerating arguments that the constructor uses to set essential member variables. </p>
                    <p>Namespace - a namespace is a set of symbols or names that are used to identify and refer to objects of many kinds. This will ensure all specified set of objects have specific names so they can be simply recognized. </p>
                    <p>Constructor - a constructor is called to create an object. It makes the new object for use, frequently tolerating arguments that the constructor uses to set required member variables. </p>
                    <p>Type hint – a type hint is to provide suggestions to function to only take the given data type. </p>
                    <p>Type cast – this is also known as type conversion and is a way of altering an entity from one data type to the next. </p>
                </section>



                </section>
            </article>
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">

            <!-- Side widget-->


            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header text-center">Resources</div>
                <div class="card-body">
                    <div class="row ">
                            <!--                            <ul class="list-inline-item  mb-0">-->
                            <p class="text-center"><a href="https://www.youtube.com/watch?v=fFY5103p5-c">Pylint Tutorial - How to Write Clean Python</a></p>
                            <p class="text-center"><a href="https://www.youtube.com/watch?v=gCzhuY6zFOw">Linting a Python Project with Pylint</a></p>
                            <p class="text-center"><a href="https://www.youtube.com/watch?v=cjMEj99zQow">How to Use Pylint</a></p>
                        <div class="col-md-6">
                        </div>


                    </div>
                </div>
            </div>
            <!-- Categories widget-->


        </div>
    </div>
</div>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container ">
        <p class="m-0 text-center text-white">Image Credit: <a href="https://docs.pylint.org/en/1.6.0/tutorial.html">CreativeCommons</a></p>
        <p class="m-0 text-center text-white">Copyright &copy; Sabina_Hack 2021</p>
        <p class="m-0 text-center text-white">
            <a href="" >Project Repo</a><span></span> <a href="">W3CValidation</a></p>


    </div>

</footer>

<!-- Bootstrap core JS-->
<script src=""></script>
<!-- Core theme JS-->
<script src="../../public_html/js/scripts.js"></script>
</body>
</html>